<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand nav-link" href="">
    Dislinkt <mat-icon>work</mat-icon>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item">
        <a class="nav-link" href="search">Search profile <mat-icon>search</mat-icon></a>
      </li>
    </ul>
  </div>
  <div class="right " id="nsc">
    <ul class="navbar-nav me-auto ">
      <li>
        <a class="nav-link" href="messages">Chat <mat-icon>message</mat-icon></a>
      </li>
    </ul>
  </div>
  <div class="right login" *ngIf="!loginService.isUserLoggedIn(); else activeUser">
    <a id="a" class="nav-item nav-link" href="sign-in">
      Sign in<mat-icon>login</mat-icon>
    </a>
    <a class="nav-item nav-link" href="register">
      Register<mat-icon>app_registration</mat-icon>
    </a>
  </div>
  <ng-template #activeUser>
    <app-navbar-profile (LogOut)="HideInstrucotsButton()"></app-navbar-profile>
  </ng-template>


</nav>
