<div class="container" *ngIf="showMakePost">
  <div class="row">
      <div class="col-sm">
          <br>
          <h2>Create new post :)</h2>
          <div class="whoToRate" >

          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm">
          <br>
          <label>Title</label>
          <input type="text" [(ngModel)]="this.newPost.title">
          <label>Position</label>
          <input type="text" [(ngModel)]="this.newPost.position">
          <label>Job description</label>
          <textarea [(ngModel)]="this.newPost.jobDescription">Some text...</textarea>
          <label>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</label>
          <label>Precondition</label>
          <div class="row">
            <div class="col">
              <textarea [(ngModel)]="onePrecondition" style="height: 100px; width: 350px; " >one precondition ...</textarea>
              <button class="btn btn-info" style="width: 50px; margin-bottom: 80px; margin-left: 10px;" (click)="addNewPrecondition()"><mat-icon>add</mat-icon></button>
            </div>
            <div class="col">
              <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pl of listOfPreconditions">
                        <td>{{pl}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
          </div>
          <label>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</label>
          <label>Choose main picture:</label>
          <input id="file_input" type="file" (change)="onFileChanged($event)">
          <button id="upload_button" class="btn btn-info" (click)="onUpload()">Upload</button>
          <label>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</label>
      </div>
  </div>
  <div class="row">
      <div class="col-sm"><br>
          <button id="submit" class="btn btn-info" (click)="makeNewPost()">Post</button>
      </div>
  </div>
</div>
<div id="successAddedPost" class="alert alert-success" role="alert" *ngIf="makedPost">
  <h2 class="alert-heading">Well done!</h2>
  <h3>Aww yeah, you succeeded. Waiting for your next post :)</h3>
</div>s
