<div class="container" *ngIf="showMakeCompany">
  <div class="row">
      <div class="col-sm">
          <br>
          <h1>Create company request :)</h1>
          <div class="whoToRate" >

          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm">
          <br>
          <label>Name</label>
          <input type="text">
          <label>Short description of the activity</label>
          <textarea>Write ...</textarea>

          <label>Username</label>
          <input type="text">
          <label>Email</label>
          <input type="text">
          <label>Mobile</label>
          <input type="text">

          <label>State</label>
          <input type="text">
          <label>City</label>
          <input type="text">
          <label>Street</label>
          <input type="text">
          <label>Choose main picture:</label>
          <input id="file_input" type="file" (change)="onFileChanged($event)">
          <button id="upload_button" class="btn btn-info" (click)="onUpload()">Upload</button>


        </div>
  </div>
  <div class="row">
      <div class="col-sm"><br>
          <button id="submit" class="btn btn-info" (click)="sendRequsest()">Submit</button>
      </div>
  </div>
</div>
<div id="successAddedPost" class="alert alert-success" role="alert" *ngIf="makedCompany">
  <h2 class="alert-heading">Well done!</h2>
  <h3>Aww yeah, you succeeded. Administrator will approve your request :)</h3>
  <button class="btn btn-success" style="margin-left: 600px;" (click)="backToProfile()">Back to all posts</button>
</div>
