.container{
  background-position: center;
  height: 1000px;
  background-color: whitesmoke;
  margin-top: 30px;
  margin-bottom: 30px;
 }
 .btn-group{
     width: 100%;
 }
 h2,h1,h3{
     text-align: center;
 }
 .btn{
     width: 30%;
 }
 select {
     display: block;
     margin: 0 auto;
     }
textarea{
    width: 70%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-left: 200px;
  }
  input {
  width: 20%;
  height: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-left: 520px;
  margin-bottom: 10px;
}
#file_input{
  height: 50px;
}
 #submit{
     display: block;
     margin: 0 auto;
 }
 label{
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 1.5em;

}
#file_input{
  margin-left: 400px;
  width:300px;
}
#upload_button{
  margin-left: 10px;
}
#upload_button{
  width:150px;
}
#successAddedPost{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
