<div class="forma">
  <h3>Search profile</h3>
  <form class="form-search"  (ngSubmit)="searcUserByFirstNameAndLastName()">
      <input style="width: 250px;" name="name" id="name" type="text" [(ngModel)]="name"><br>
      <div id="who_to_search" *ngFor="let choice of choices_for_search" class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="{{choice}}" [(ngModel)]="who_to_search">
        <label class="form-check-label" for="inlineRadio2">{{choice}}</label>
      </div>
      <input type="submit" value="search" class="btn btn-primary" >
  </form>
</div>
