.forma{
  margin-top: 10px;
  margin-left: 230px;
  background-color:lightblue;

  width: 50%;

}
.form-search{
  margin: 5px;
}
.btn{
  margin-top: 10px;
  width: 260px;

}
input{
  margin-bottom: 10px;
  margin-left: 100px;
}
h3{
  text-align: center;
}
#who_to_search{
  margin-left: 100px;
}
