<div class="modal-dialog text-center">
  <div class="modal-content">
    <label class="fw-bold">Chat with {{chatWith}}</label>
    <table class="table table-striped" border="1" width="200" >
      <thead>
      <tr>
        <th>Sender</th><th>Message</th>
      </tr>
      </thead>
      <tbody >
      <tr app-view-chat-oneline *ngFor="let message of messages" [mess]=message >
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container" align="right" >
  <textarea [(ngModel)]="msg" >Write a message...</textarea>
  <button class="btn btn-outline-primary" (click)="sendMessage()" >Reply <mat-icon>reply</mat-icon></button>
</div>
