<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand nav-link" href="allPost">
    Agent app <mat-icon>work</mat-icon>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  </div>

  <div class="right login" *ngIf="!loginService.isUserLoggedIn(); else activeUser">
    <a id="a" class="nav-item nav-link" href="sign-in">
      Sign in<mat-icon>login</mat-icon>
    </a>
    <a class="nav-item nav-link" href="register">
      Register<mat-icon>app_registration</mat-icon>
    </a>
  </div>
  <ng-template #activeUser>
    <app-navbar-profile (LogOut)="HideInstrucotsButton()"></app-navbar-profile>
  </ng-template>


</nav>
