<div class="row" class="container">
<div class="center" id="comp1" >
  <h1>{{profile.user.firstName}}  {{profile.user.lastName}}</h1>

  <div class="text-center">
    <img src="{{profile.user.profilePicture}}" class="img-thumbnail" alt="...">
  </div>
  <h3>{{profile.user.profileType}} PROFILE</h3>
  <button class="btn btn-primary" (click)="saveChanges()"> Save changes</button>
</div><br>
<div  class="center" id="comp2" >
  <label style="font-weight: bold;">Username</label>
  <div class="form-group">
    <input [(ngModel)]="profile.user.username" id="username" name="username" type="text" class="from-control">
  </div>

  <label style="font-weight: bold;">Email</label>
  <div class="form-group">
    <input [(ngModel)]="profile.user.email" id="email" name="email" type="text" class="from-control">
  </div>

  <label style="font-weight: bold;">Mobile</label>
  <div class="form-group">
    <input [(ngModel)]="profile.user.mobile" id="mobile" name="mobile" type="text" class="from-control">
  </div>

  <label style="font-weight: bold;">Education</label>
  <div class="form-group">
    <input [(ngModel)]="profile.education" id="education" name="education" type="text" class="from-control">
  </div>

  <label style="font-weight: bold;">Additional informations</label>
  <div class="form-group">
    <input [(ngModel)]="profile.additionInformation" id="additionInformation" name="additionInformation" type="text" class="from-control">
  </div>
</div>
<div  class="center" id="comp3" >
  <label style="font-weight: bold;">Program languages</label>
  <div class="form-group">
    <input class="from-control" [(ngModel)]="programLanguagesLists" type="text" >
  </div>
  <label>-----------------------------------------------------</label>
  <label style="font-weight: bold;">Languages</label>
  <div class="form-group">
    <input class="from-control" [(ngModel)]="languagesLists" type="text" >
  </div>
  <label>-----------------------------------------------------</label>
  <label style="font-weight: bold;">Ex companies</label>
  <div class="form-group">
    <input class="from-control" [(ngModel)]="exCompaniesLists" type="text" >
  </div>
</div>
</div>
