
<div class="row" class="container">
  <div class="center" id="comp1" >
    <h1>{{profile.user.firstName}}  {{profile.user.lastName}}</h1>

    <div class="text-center">
      <img src="{{profile.user.profilePicture}}" class="img-thumbnail" alt="...">
    </div>
    <h3>{{profile.user.profileType}} PROFILE</h3>
    <button  class="btn btn-primary" [routerLink]="['newPost']">Add new post <mat-icon class="mat-18">add</mat-icon></button>
  </div><br>
  <div  class="center" id="comp2" >
    <label style="font-weight: bold;">Username</label>
    <label>{{profile.user.username}}</label>
    <label>-----------------------------------------------------</label>
    <label style="font-weight: bold;">Email</label>
    <label>{{profile.user.email}}</label>
    <label>-----------------------------------------------------</label>
    <label style="font-weight: bold;">Mobile</label>
    <label>{{profile.user.mobile}}</label>
    <label>-----------------------------------------------------</label>
    <label style="font-weight: bold;">Education</label>
    <label>{{profile.education}}</label>
    <label>-----------------------------------------------------</label>
    <label style="font-weight: bold;">Additional informations</label>
    <label>{{profile.additionInformation}}</label>
  </div>
  <div  class="center" id="comp3" >
    <label style="font-weight: bold;">Program languages</label>
    <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pl of profile.proramLanguages">
              <td>{{pl.name}}</td>
          </tr>
      </tbody>
  </table>
  <label>-----------------------------------------------------</label>
  <label style="font-weight: bold;">Languages</label>
    <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pl of profile.languages">
              <td>{{pl.name}}</td>
          </tr>
      </tbody>
  </table>
  <label>-----------------------------------------------------</label>
  <label style="font-weight: bold;">Ex companies</label>
    <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pl of profile.exCompanies">
              <td>{{pl}}</td>
          </tr>
      </tbody>
  </table>
  </div>
</div>

<div class="row" class="container" *ngIf="showUserPosts">
  <div class="col-md"></div>
  <div class="center" id="comp1"  style="width: 1200px; height: 1000px;">
    <label style="font-weight: bold;">Posts</label>
    <table class="topics" class="table table-striped table-bordered">
      <thead>
          <tr>
              <th></th><th></th><th></th><th><mat-icon class="mat-18">thumb_up</mat-icon></th><th><mat-icon class="mat-18">thumb_down</mat-icon> </th><th>Hole post</th>
          </tr>
      </thead>
      <tbody>
          <tr app-user-post *ngFor="let post of posts" [post]=post (ClickedHolePostView)="viewHolePost($event)" ></tr>

      </tbody>
  </table>
  </div>
  <div class="col-md"></div>
</div>
<div class="row" class="container" *ngIf="showHolePost">
  <div class="col-md"></div>
  <div class="center" id="comp1"  style="width: 1000px;">
    <app-user-post-profile [post]="post" [id]="post.id" (ClickedBAckToAllPosts)="showAllPosts()"></app-user-post-profile>
  </div>
  <div class="col-md"></div>
</div>
