
<div class="container">
  <div class="center" id="comp1" >
    <h1>{{profile.user.firstName}}  {{profile.user.lastName}}</h1>

    <div class="text-center">
      <img src="{{profile.user.profilePicture}}" class="img-thumbnail" alt="...">
    </div>
    <h3>{{user.profileType}} PROFILE</h3>


    <button  class="btn btn-primary" (click)="followUser()">Follow</button>


  </div><br>
  <div  class="center" id="comp2" >
    <label style="font-weight: bold;">Username</label>
    <label>{{profile.user.username}}</label>
    <label>-----------------------------------------------------</label>
    <label style="font-weight: bold;">Email</label>
    <label>{{profile.user.email}}</label>
    <label>-----------------------------------------------------</label>
    <label style="font-weight: bold;">Mobile</label>
    <label>{{profile.user.mobile}}</label>
    <label>-----------------------------------------------------</label>
    <label style="font-weight: bold;">Education</label>
    <label>{{profile.education}}</label>
    <label>-----------------------------------------------------</label>
    <label style="font-weight: bold;">Additional informations</label>
    <label>{{profile.additionInformation}}</label>
  </div>
  <div  class="center" id="comp3" >
    <label style="font-weight: bold;">Program languages</label>
    <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pl of profile.proramLanguages">
              <td>{{pl.name}}</td>
          </tr>
      </tbody>
  </table>
  <label>-----------------------------------------------------</label>
  <label style="font-weight: bold;">Languages</label>
    <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pl of profile.languages">
              <td>{{pl.name}}</td>
          </tr>
      </tbody>
  </table>
  <label>-----------------------------------------------------</label>
  <label style="font-weight: bold;">Ex companies</label>
    <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pl of profile.exCompanies">
              <td>{{pl}}</td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
