
<div class="row" class="container">
  <div class="center" id="comp1" >
    <div class="text-center">
      <img src="{{post.picture}}" class="img-thumbnail" alt="...">
    </div>
    <label>{{post.text}}</label>
    <label>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</label>
    <label style="font-weight: bold;">Useful links</label>
    <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pl of post.links">
              <td><a href="{{pl}}">{{pl}}</a></td>
          </tr>
      </tbody>
  </table>
    <label>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</label>
    <label><button style="margin-right: 15px;" class="btn btn-info" (click)="likePost()"><mat-icon class="mat-18">thumb_up</mat-icon></button>{{post.likes}}</label>
    <label><button style="margin-left: 30px;margin-right: 15px;" class="btn btn-info" (click)="dislikePost()"><mat-icon class="mat-18">thumb_down</mat-icon></button>{{post.dislikes}}</label><br>
    <button style="margin-left: 800px;" class="btn btn-primary" (click)="backToProfile()">Back to all posts</button>

    <label>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</label>
    <label style="font-weight: bold;">Comments</label>
    <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th></th><th></th><th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pl of comments">
              <td>{{pl.text}}</td>
              <td><a href="profile/{{pl.user.id}}">{{pl.user.firstName}} {{pl.user.lastName}}</a></td>
              <td>{{pl.user.username}}</td>
              <td><img style="height: 50px; border-radius: 50px;" src="{{pl.user.profilePicture}}"></td>
          </tr>
      </tbody>
  </table>
 <button class="btn btn-primary" [routerLink]="['newComment',post.id]" >Add comment <mat-icon class="mat-18">add</mat-icon></button>
  </div>
</div>
